name = "Exercise1"
uuid = "fac7f979-5867-4974-9646-a550ff9e352e"
authors = ["Paul Schrimpf <paul.schrimpf@gmail.com> and contributors"]
version = "0.1.0"

[deps]
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
